server:
  port: 8082

spring:
  application:
    name: consumer-service

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: ${spring.application.name}-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.example.common.dto"
        spring.json.type.mapping: >
          userEvent:com.example.common.dto.UserEvent,
          orderEvent:com.example.common.dto.OrderEvent

    topics:
      user-events: "user-events"
      order-events: "order-events"

  datasource:
    url: jdbc:postgresql://localhost:5432/kafka_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.kafka: DEBUG
    com.example.consumer: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE